/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

/* Variables */
:root {
  --color-primary: #db4c3f;
  --color-white: #fff;
  --color-black: #202020;
  --color-menu-bg: rgb(250, 250, 250);
  --color-item-bg-hover: #eee;
  --color-item-bg-active: #f0f0f0;
  --color-item-border: #f0f0f0;
  --color-p1: #d1453b;
  --color-p1-bg: rgba(209, 69, 59, 0.1);
  --color-p2: #eb8909;
  --color-p2-bg: rgba(235, 137, 9, 0.1);
  --color-p3: #246fe0;
  --color-p3-bg: rgba(36, 111, 224, 0.1);
  --color-p4: #dcdcdc;
  --color-p4-bg: rgba(220, 220, 220, 0.1);
  --transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  --border-radius-sm: 5px;
  --border-radius-lg: 10px;
  --icon-color: grey;
  --icon-color-hover: #1a1a1a;
}

/* Global styles */
html {
  box-sizing: border-box;
  font-family: 'Roboto', 'cursive', system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: var(--color-white);
  color: var(--color-black);
}

*,
*::before,
*::after {
  /* CSS Reset */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* Catch errors */
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  padding: 0 20px;
  background-color: var(--color-primary);
}

.left-controls,
.right-controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.right-controls {
  margin-right: 12px;
}

header button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 28px;
  height: 28px;
}

header button:hover {
  background-color: #ffffff33;
}

.quick-search {
  position: relative;
  width: 166px;
}

.quick-search.active {
  width: 450px;
}

.quick-search input {
  margin: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  color: #fff;
  padding: 5px 0 5px 30px;
  background: #ffffff33;
  font-size: 13px;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.quick-search input:hover {
  color: grey;
  background-color: #fff;
}

.quick-search input:focus {
  color: var(--color-black);
  background-color: #fff;
}

.quick-search input::placeholder {
  color: #fff;
}

.quick-search input:hover::placeholder {
  color: grey;
}

.quick-search input:focus::placeholder {
  color: grey;
}

.quick-search svg {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  cursor: text;
}

.quick-search input:hover + svg {
  color: grey;
}

.quick-search input:focus + svg {
  color: grey;
}

.productivity-btn {
  gap: 5px;
  width: 66px;
  height: 32px;
}

header .add-task-btn,
header .help-btn,
header .notification-btn {
  width: 32px;
  height: 32px;
}

.productivity-btn .count {
  line-height: 1;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-white);
}

/* Main */

main {
  flex: 1;
  display: flex;
}

/* Menu */

.menu {
  flex: 0 0 266px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
  background-color: var(--color-menu-bg);
  user-select: none;
}

.main-filters {
  padding-top: 32px;
}

ul.main-filters-list,
ul.favorites-list,
ul.projects-list {
  display: flex;
  flex-direction: column;
}

li.main-filters-list__item,
li.favorites-list__item,
li.projects-list__item {
  height: 34px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 0 4px 4px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition);
}

li.main-filters-list__item:hover,
li.favorites-list__item:hover,
li.projects-list__item:hover {
  background-color: var(--color-item-bg-hover);
}

li.main-filters-list__item.active,
li.favorites-list__item.active,
li.projects-list__item.active {
  background-color: var(--color-item-bg-active);
}

li.main-filters-list__item button,
li.favorites-list__item button,
li.projects-list__item button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
  color: rgb(32, 32, 32);
}

button .icon-name-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

span.project-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-icon > div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-primary);
}

button .actions-count-wrapper,
.favorites__header button,
.projects__header button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions-count-wrapper {
  padding-right: 4px;
}

.actions-menu-icon {
  display: none;
  color: grey;
  transition: var(--transition);
  width: 100%;
  height: 100%;
}

li.favorites-list__item:hover .actions-menu-icon,
li.projects-list__item:hover .actions-menu-icon {
  display: block;
}

.actions-menu-icon:hover {
  color: #202020;
}

span.count {
  font-size: 12px;
  color: #aaa;
}

li.favorites-list__item:hover span.count,
li.projects-list__item:hover span.count {
  display: none;
}

li.main-filters-list__item:nth-of-type(2) span.count {
  color: var(--color-primary);
}

.favorites__header,
.projects__header {
  display: flex;
  align-items: center;
  color: grey;
  padding: 4px 0 4px 4px;
  border-radius: var(--border-radius-sm);
}

.projects__header {
  cursor: pointer;
  transition: var(--transition);
}

.projects__header:hover {
  background-color: var(--color-item-bg-hover);
}

.favorites__title,
.projects__title {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.favorites__header button,
.projects__header button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  border: 1px solid transparent;
  border-radius: var(--border-radius-sm);
  width: 28px;
  height: 28px;
  transition: var(--transition);
}

.favorites__header button:hover,
.projects__header button:hover {
  color: var(--icon-color-hover);
  background-color: var(--color-item-bg-hover);
}

.toggle-list-btn svg {
  transition: transform 0.2s ease-in-out;
}

.toggle-list-btn.active svg {
  transform: rotate(90deg);
}

/* Content Section */

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Project-Header Section */

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 16px 8px 16px;
  height: 72px;
  margin-bottom: 8px;
}

.project-header .project-title {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 6px;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-black);
  padding: 2px 4px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition);
}

.project-title .today-date {
  color: grey;
  font-size: 12px;
  font-weight: 400;
  align-self: self-end;
}

.project-header .project-title:hover {
  background-color: var(--color-item-bg-hover);
}

.project-header .controls {
  display: flex;
  align-items: center;
  gap: 20px;
}
.project-header .controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: var(--icon-color);
  border-radius: 3px;
  font-size: 12px;
  padding: 1px 4px 1px 0;
  transition: var(--transition);
}

.project-header .controls button.add-task-btn {
  gap: 6px;
  font-size: 13px;
}

.project-header .controls button.add-task-btn:hover {
  background-color: transparent;
}

.project-header .controls button.add-task-btn span.add-task-icon {
  color: var(--color-primary);
  border-radius: 50%;
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-header .controls button.add-task-btn:hover span.add-task-icon {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.project-header .controls button.add-task-btn:hover span.btn-text {
  color: var(--color-primary);
}

.project-header .controls button:hover {
  color: var(--icon-color-hover);
  background-color: var(--color-item-bg-hover);
}

/* Tasks Flex View */

.project-header.flex-layout,
.tasks.flex-layout {
  width: 75%;
}

.tasks-list.flex-layout {
  display: flex;
  flex-direction: column;
}

.tasks-list-item .wrapper.flex-layout {
  border-bottom: 1px solid var(--color-item-border);
}

/* Tasks Grid View */

.project-header.grid-layout,
.tasks.grid-layout {
  width: 90%;
}

.tasks-list.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
}

.tasks-list-item.grid-layout {
  cursor: pointer;
}

.tasks-list-item__handle.grid-layout {
  display: none;
}

.tasks-list-item .wrapper.grid-layout {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: var(--border-radius-lg);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  padding: 10px;
  transition-property: border-color, box-shadow, background-color;
  transition-duration: 0.3s;
}

.tasks-list-item .wrapper.grid-layout:hover {
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

/* Tasks Section */

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 84px;
}

/* Overdue Tasks Section */

[class*='day-section'],
.overdue {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 24px;
}

.overdue--collapsed {
  display: none;
}

.day__header,
.overdue__header {
  display: flex;
  gap: 3px;
  align-items: center;
}

.overdue__header button {
  width: 24px;
  height: 24px;
  color: var(--icon-color);
  border-radius: 3px;
  transition: var(--transition);
}

.overdue__header button.active svg {
  transform: rotate(-90deg);
}

.overdue__header button:hover {
  color: var(--icon-color-hover);
  background-color: var(--color-item-bg-hover);
}

.day__header .day__title {
  margin-left: 27px;
}

.day__header .day__title,
.overdue__header .overdue__title {
  flex: 1;
  padding: 6px 0;
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid var(--color-item-border);
}

/* Tasks List */

.tasks-list .tasks-list-item {
  display: flex;
}

/** Task Item Handle **/
.tasks-list-item__handle {
  margin-top: 8px;
  cursor: move;
  opacity: 0;
  transition: var(--transition);
}

.tasks-list-item:hover .tasks-list-item__handle {
  opacity: 1;
}

.tasks-list-item__handle button {
  color: var(--icon-color);
  border-radius: 3px;
  width: 27px;
  height: 27px;
  cursor: move;
}

/* Task Item Wrapper {Checkbox, content, controls} */

.tasks-list-item .wrapper {
  flex: 1;
  display: flex;
}

.tasks-list-item__handle button:hover {
  color: var(--icon-color-hover);
  background-color: var(--color-item-bg-hover);
}

/** Task Item Checkbox **/
.tasks-list-item__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 8px 6px 0 -1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.checkbox-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-circle-p1 {
  border: 2px solid var(--color-p1);
  color: var(--color-p1);
  background-color: var(--color-p1-bg);
}

.checkbox-circle-p2 {
  border: 2px solid var(--color-p2);
  color: var(--color-p2);
  background-color: var(--color-p2-bg);
}

.checkbox-circle-p3 {
  border: 2px solid var(--color-p3);
  color: var(--color-p3);
  background-color: var(--color-p3-bg);
}

.checkbox-circle-p4 {
  border: 2px solid var(--color-p4);
  color: var(--color-p4);
  background-color: var(--color-p4-bg);
}

.checkbox-circle svg {
  border: 1px solid transparent;
  height: 22px;
  width: 18px;
  margin-left: -8px;
  margin-top: -5px;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
  pointer-events: none;
  opacity: 0;
}

.checkbox-circle:hover svg {
  opacity: 1;
}

/** Task Item Content **/

.tasks-list-item__content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 0;
}

.content-wrapper__task-name-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 4px;
}

/*** Task Item Name ***/

.task-name-controls__task-name {
  flex: 1;
  font-size: 14px;
  line-height: 21px;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--color-black);
  -webkit-line-clamp: 3;
  max-width: 250px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*** Task Item Controls ***/

.task-name-controls__task-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0;
  transition: var(--transition);
}

.tasks-list-item:hover .task-name-controls__task-controls {
  opacity: 1;
}

.task-name-controls__task-controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  border-radius: 3px;
  transition: var(--transition);
}

.task-name-controls__task-controls button:hover {
  color: var(--icon-color-hover);
  background-color: var(--color-item-bg-hover);
}

.content-wrapper__task-description {
  font-size: 12px;
  line-height: 18px;
  word-wrap: break-word;
  word-break: break-word;
  color: grey;
  height: 18px;
}

.content-wrapper__task-description p {
  max-width: 216px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/** Task Item Info Tags **/

.content-wrapper__task-info-tags {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: grey;
  line-height: 18px;
}

/*** Task Item Due-date ***/

.task-info-tags__task-due-date {
  display: flex;
  align-items: center;
  gap: 2px;
  color: grey;
}

.due-date-today {
  color: #058527;
}

.due-date-tomorrow {
  color: #ad6200;
}

.due-date-next-week {
  color: #692fc2;
}

.due-date-overdue {
  color: #d60000;
}

.task-info-tags__task-label {
  display: flex;
  align-items: center;
  gap: 2px;
}

.task-label__content {
  max-width: 136px;
  overflow: hidden;
  text-overflow: ellipsis;
}
