/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

/* Variables */
:root {
  --color-primary: #db4c3f;
  --color-white: #fff;
  --color-black: #202020;
  --color-menu-bg: rgb(250, 250, 250);
  --color-item-bg-hover: #eee;
  --color-item-bg-active: #f0f0f0;
  --color-item-border: #f0f0f0;
  --color-p1: #d1453b;
  --color-p1-bg: rgba(209, 69, 59, 0.1);
  --color-p1-bg-hover: rgba(209, 69, 59, 0.2);
  --color-p2: #eb8909;
  --color-p2-bg: rgba(235, 137, 9, 0.1);
  --color-p2-bg-hover: rgba(235, 137, 9, 0.2);
  --color-p3: #246fe0;
  --color-p3-bg: rgba(36, 111, 224, 0.1);
  --color-p3-bg-hover: rgba(36, 111, 224, 0.2);
  --color-p4: grey;
  --color-p4-bg: rgba(220, 220, 220, 0.1);
  --color-p4-bg-hover: rgba(220, 220, 220, 0.5);
  --transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  --border-radius-sm: 5px;
  --border-radius-lg: 10px;
  --icon-color: grey;
  --icon-color-hover: #1a1a1a;
}

/* Global styles */
html {
  box-sizing: border-box;
  font-family: 'Roboto', 'cursive', system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: var(--color-white);
  color: var(--color-black);
}

*,
*::before,
*::after {
  /* CSS Reset */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* Catch errors */
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */

header.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  padding: 0 20px;
  background-color: var(--color-primary);
}

.left-controls,
.right-controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.right-controls {
  margin-right: 12px;
}

header button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 28px;
  height: 28px;
}

header button:hover {
  background-color: #ffffff33;
}

.quick-search {
  position: relative;
  width: 166px;
}

.quick-search.active {
  width: 450px;
}

.quick-search input {
  margin: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  color: #fff;
  padding: 5px 0 5px 30px;
  background: #ffffff33;
  font-size: 13px;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.quick-search input:hover {
  color: grey;
  background-color: #fff;
}

.quick-search input:focus {
  color: var(--color-black);
  background-color: #fff;
}

.quick-search input::placeholder {
  color: #fff;
}

.quick-search input:hover::placeholder {
  color: grey;
}

.quick-search input:focus::placeholder {
  color: grey;
}

.quick-search svg {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  cursor: text;
}

.quick-search input:hover + svg {
  color: grey;
}

.quick-search input:focus + svg {
  color: grey;
}

.productivity-btn {
  gap: 5px;
  width: 66px;
  height: 32px;
}

header .add-task-btn,
header .help-btn,
header .notification-btn {
  width: 32px;
  height: 32px;
}

.productivity-btn .count {
  line-height: 1;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-white);
}

/* Main */

main {
  flex: 1;
  display: flex;
}

/* Menu */

.menu {
  flex: 0 0 266px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
  background-color: var(--color-menu-bg);
  height: calc(100vh - 44px);
  overflow: auto;
  user-select: none;
}

.main-filters {
  padding-top: 32px;
}

.favorites.hidden {
  display: none;
}

ul.main-filters-list,
ul.favorites-list,
ul.projects-list {
  display: flex;
  flex-direction: column;
}

ul.favorites-list,
ul.projects-list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

ul.favorites-list {
  max-height: 0;
}

li.main-filters-list__item,
li.menu__item {
  height: 34px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 0 4px 4px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition);
}

li.main-filters-list__item:hover,
li.menu__item:hover {
  background-color: var(--color-item-bg-hover);
}

li.main-filters-list__item.active,
li.menu__item.active {
  background-color: var(--color-item-bg-active);
}

li.main-filters-list__item button,
li.menu__item button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
  color: rgb(32, 32, 32);
}

button .icon-name-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

span.project-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-icon > div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-primary);
}

button .actions-count-wrapper,
.favorites__header button,
.projects__header button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions-count-wrapper {
  padding-right: 4px;
}

.actions-menu-icon {
  display: none;
  color: grey;
  transition: var(--transition);
  width: 100%;
  height: 100%;
}

li.menu__item:hover .actions-menu-icon,
li.projects-list__item:hover .actions-menu-icon {
  display: block;
}

.actions-menu-icon:hover {
  color: #202020;
}

span.count {
  font-size: 12px;
  color: #aaa;
}

li.menu__item:hover span.count {
  display: none;
}

li.main-filters-list__item:nth-of-type(2) span.count {
  color: var(--color-primary);
}

.favorites__header,
.projects__header {
  display: flex;
  align-items: center;
  color: grey;
  padding: 4px 0 4px 4px;
  border-radius: var(--border-radius-sm);
}

.projects__header {
  cursor: pointer;
  transition: var(--transition);
}

.projects__header:hover {
  background-color: var(--color-item-bg-hover);
}

.favorites__title,
.projects__title {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.favorites__header button,
.projects__header button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  border: 1px solid transparent;
  border-radius: var(--border-radius-sm);
  width: 28px;
  height: 28px;
  transition: var(--transition);
}

.favorites__header button:hover,
.projects__header button:hover {
  color: var(--icon-color-hover);
  background-color: var(--color-item-bg-hover);
}

.list-toggle-btn svg {
  transition: transform 0.2s ease-in-out;
}

.list-toggle-btn.active svg {
  transform: rotate(90deg);
}

/* Content Section */

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 44px);
  overflow: auto;
}

/* Project-Header Section */

.content .header-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  z-index: 2;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0 8px 0;
  margin: 0 16px;
  height: 72px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--color-item-border);
  background-color: var(--color-white);
}

.project-header .project-title {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 6px;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-black);
  padding: 2px 4px 2px 0;
  border-radius: var(--border-radius-sm);
  transition: var(--transition);
}

.project-title .today-date {
  color: grey;
  font-size: 12px;
  font-weight: 400;
  align-self: self-end;
}

.project-header .project-title:hover {
  background-color: var(--color-item-bg-hover);
}

.project-header .controls {
  display: flex;
  align-items: center;
  gap: 20px;
}
.project-header .controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: var(--icon-color);
  border-radius: 3px;
  font-size: 12px;
  padding: 1px 4px 1px 0;
  transition: var(--transition);
}

.project-header .controls button.add-task-btn {
  gap: 6px;
  font-size: 13px;
}

.project-header .controls button.add-task-btn:hover {
  background-color: transparent;
}

.project-header .controls button.add-task-btn span.add-task-icon {
  color: var(--color-primary);
  border-radius: 50%;
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-header .controls button.add-task-btn:hover span.add-task-icon {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.project-header .controls button.add-task-btn:hover span.btn-text {
  color: var(--color-primary);
}

.project-header .controls button:hover {
  color: var(--icon-color-hover);
  background-color: var(--color-item-bg-hover);
}

/* Tasks Flex View */

.project-header.flex-layout,
.tasks.flex-layout {
  width: 75%;
}

.tasks-list.flex-layout {
  display: flex;
  flex-direction: column;
}

.tasks-list-item .wrapper.flex-layout {
  border-bottom: 1px solid var(--color-item-border);
}

/* Tasks Grid View */

.project-header.grid-layout,
.tasks.grid-layout {
  width: 90%;
}

.tasks-list.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
}

.tasks-list-item.grid-layout {
  cursor: pointer;
}

.tasks-list-item__handle.grid-layout {
  display: none;
}

.tasks-list-item .wrapper.grid-layout {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: var(--border-radius-lg);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  padding: 10px;
  transition-property: border-color, box-shadow, background-color;
  transition-duration: 0.3s;
}

.tasks-list-item .wrapper.grid-layout:hover {
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

/* Tasks Section */

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 84px;
}

/* Overdue Tasks Section */

[class*='day-section'],
.overdue {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 24px;
  margin-right: 50px;
}

.overdue--collapsed {
  display: none;
}

.day__header,
.overdue__header {
  display: flex;
  gap: 3px;
  align-items: center;
  position: sticky;
  top: 72px;
  background-color: var(--color-white);
}

.overdue__header button {
  width: 24px;
  height: 24px;
  color: var(--icon-color);
  border-radius: 3px;
  transition: var(--transition);
}

.overdue__header button.active svg {
  transform: rotate(-90deg);
}

.overdue__header button:hover {
  color: var(--icon-color-hover);
  background-color: var(--color-item-bg-hover);
}

.day__header .day__title {
  margin-left: 27px;
}

.day__header .day__title,
.overdue__header .overdue__title {
  flex: 1;
  padding: 6px 0;
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid var(--color-item-border);
}

/* Tasks List */

ul.tasks-list {
  width: 100%;
}

.tasks-list .tasks-list-item {
  display: flex;
}

/** Task Item Handle **/
.tasks-list-item__handle {
  margin-top: 8px;
  cursor: move;
  opacity: 0;
  transition: var(--transition);
}

.tasks-list-item:hover .tasks-list-item__handle {
  opacity: 1;
}

.tasks-list-item__handle button {
  color: var(--icon-color);
  border-radius: 3px;
  width: 27px;
  height: 27px;
  cursor: move;
}

/* Task Item Wrapper {Checkbox, content, controls} */

.tasks-list-item .wrapper {
  flex: 1;
  display: flex;
}

.tasks-list-item__handle button:hover {
  color: var(--icon-color-hover);
  background-color: var(--color-item-bg-hover);
}

/** Task Item Checkbox **/
.tasks-list-item__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 8px 6px 0 -1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.checkbox-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-circle-p1 {
  border: 2px solid var(--color-p1);
  color: var(--color-p1);
  background-color: var(--color-p1-bg);
}

.checkbox-circle-p1:hover {
  background-color: var(--color-p1-bg-hover);
}

.checkbox-circle-p2 {
  border: 2px solid var(--color-p2);
  color: var(--color-p2);
  background-color: var(--color-p2-bg);
}

.checkbox-circle-p2:hover {
  background-color: var(--color-p2-bg-hover);
}

.checkbox-circle-p3 {
  border: 2px solid var(--color-p3);
  color: var(--color-p3);
  background-color: var(--color-p3-bg);
}

.checkbox-circle-p3:hover {
  background-color: var(--color-p3-bg-hover);
}

.checkbox-circle-p4 {
  border: 2px solid var(--color-p4);
  color: var(--color-p4);
  background-color: var(--color-p4-bg);
}

.checkbox-circle-p4:hover {
  background-color: var(--color-p4-bg-hover);
}

.checkbox-circle svg {
  border: 1px solid transparent;
  height: 22px;
  width: 18px;
  margin-left: -8px;
  margin-top: -5px;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
  pointer-events: none;
  opacity: 0;
}

.checkbox-circle:hover svg {
  opacity: 1;
}

/** Task Item Content **/

.tasks-list-item__content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 0;
}

.content-wrapper__task-name-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 4px;
}

/*** Task Item Name ***/

.task-name-controls__task-name {
  flex: 1;
  font-size: 14px;
  line-height: 21px;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--color-black);
  -webkit-line-clamp: 3;
  max-width: 250px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*** Task Item Controls ***/

.task-name-controls__task-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0;
  transition: var(--transition);
}

.tasks-list-item:hover .task-name-controls__task-controls {
  opacity: 1;
}

.task-name-controls__task-controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  border-radius: 3px;
  transition: var(--transition);
}

.task-name-controls__task-controls button:hover {
  color: var(--icon-color-hover);
  background-color: var(--color-item-bg-hover);
}

.content-wrapper__task-description {
  font-size: 12px;
  line-height: 18px;
  word-wrap: break-word;
  word-break: break-word;
  color: grey;
  height: 18px;
}

.content-wrapper__task-description p {
  max-width: 216px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/** Task Item Info Tags **/

.content-wrapper__task-info-tags {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: grey;
  line-height: 18px;
}

/*** Task Item Due-date ***/

.task-info-tags__task-due-date {
  display: flex;
  align-items: center;
  gap: 2px;
  color: grey;
}

.no-due-date,
.due-date-upcoming {
  color: grey;
}

.due-date-today {
  color: #058527;
}

.due-date-tomorrow {
  color: #ad6200;
}

.due-date-within-next-week {
  color: #692fc2;
}

.due-date-overdue {
  color: #d60000;
}

.task-info-tags__task-label {
  display: flex;
  align-items: center;
  gap: 2px;
}

.task-label__content {
  max-width: 136px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Modals */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Add-project Modal */

.modal-overlay.add-project {
  padding: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.project-modal {
  width: 450px;
  height: 100%;
  max-height: 534px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-lg);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  animation: fadeIn 0.3s ease-in-out forwards;
  display: flex;
  flex-direction: column;
}

.project-modal.hidden {
  animation: fadeOut 0.2s ease-in-out forwards;
}

/* Project-modal Header/Footer */
.project-modal .modal-header,
.project-modal .modal-footer {
  width: 100%;
  height: 49px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  color: #202020;
  background-color: var(--color-white);
  flex: 0 0 auto;
}

.project-modal .modal-header {
  border-bottom: 1px solid var(--color-item-border);
  font-size: 20px;
  font-weight: 700;
  border-top-left-radius: var(--border-radius-lg);
  border-top-right-radius: var(--border-radius-lg);
}

.project-modal .modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  border-top: 1px solid var(--color-item-border);
  border-bottom-left-radius: var(--border-radius-lg);
  border-bottom-right-radius: var(--border-radius-lg);
  height: 64px;
}

.modal-footer .cancel-btn,
.modal-footer .submit-btn {
  min-width: 68px;
  font-size: 13px;
  font-weight: 600;
  border-radius: var(--border-radius-sm);
  padding: 0 12px;
  height: 32px;
  transition: all 0.3s ease;
}

.modal-footer button.cancel-btn {
  color: #444;
  background-color: #f0f0f0;
}

.modal-footer button.cancel-btn:hover {
  color: #202020;
  background-color: #e0e0e0;
}

.modal-footer button.submit-btn {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.modal-footer button.submit-btn:disabled {
  background-color: rgba(219, 76, 63, 0.4);
  cursor: not-allowed;
}

.modal-footer button.submit-btn:not(:disabled):hover {
  background-color: #b03d32;
}

/* Project-modal Form */

.project-modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
  margin: 16px;
  max-height: 420px;
}

.project-modal__form .form-field {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 0 4px;
}

.project-modal__form .form-field:nth-of-type(1) > label,
.project-modal__form .form-field:nth-of-type(2) > label,
.project-modal__form .form-field:nth-of-type(4) > label {
  font-size: 14px;
  font-weight: 700;
  color: #202020;
}

.project-modal__form .form-field input {
  border: 1px solid rgb(221, 221, 221);
  border-radius: var(--border-radius-sm);
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.project-modal__form .form-field input:focus {
  box-shadow: 0 0 0 1px #1f60c2, 0 0 0 4px #dceaff;
}

/* Name Form Field */

.project-modal__form .form-field:nth-of-type(1) input {
  padding: 5px;
}

.project-modal__form .form-field:nth-of-type(1) label {
  display: flex;
  justify-content: space-between;
}

.project-modal__form .form-field:nth-of-type(1) label > span.char-limit {
  color: #d1453b;
  font-size: 14px;
  font-weight: 400;
}

.char-limit.hidden {
  display: none;
}

/* Color Picker Form Field */

.color-picker {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row-reverse;
}

.color-picker img {
  position: absolute;
}

.color-picker input[type='color'] {
  flex: 1;
  height: 30px;
  cursor: pointer;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  outline: none;
  border: 5px;
  border-radius: var(--border-radius-sm);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type='color']::-moz-color-swatch {
  outline: none;
  border-radius: var(--border-radius-sm);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Add-to-favorites Form Field */

.project-modal__form .form-field:nth-of-type(3) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.project-modal__form .form-field:nth-of-type(3) > label {
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

.favorite-switch {
  width: 36px;
  height: 20px;
  border-radius: 10px;
  background-color: #aaa;
  position: relative;
  transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.favorite-switch input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

.favorite-switch .switch-handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: transform 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.favorite-switch.checked {
  background-color: var(--color-primary);
}

.favorite-switch.checked > .switch-handle {
  transform: translateX(16px);
}

/* Project-view Form Field */

.view-radio-group {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.view-radio-option {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.view-radio-option .list-preview,
.view-radio-option .board-preview {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-radio-option .list-preview {
  background-image: url(./assets/list-preview.svg);
  background-position: 0 10px;
}

.view-radio-option.checked .list-preview,
.view-radio-option.checked .board-preview {
  border-color: #dd4b39;
}

.view-radio-option.checked:hover .list-preview,
.view-radio-option.checked:hover .board-preview {
  border-color: #ff7066;
}

.view-radio-option:hover .list-preview {
  background-image: url(./assets/list-preview-hover.svg);
}

.view-radio-option:hover:not(.checked) .list-preview {
  background-image: url(./assets/list-preview-hover.svg);
  border: 1px solid grey;
}

.view-radio-option .board-preview {
  background-image: url(./assets/board-preview.svg);
  background-position: 5px 5px;
}

.view-radio-option:hover .board-preview {
  background-image: url(./assets/board-preview-hover.svg);
}

.view-radio-option:hover:not(.checked) .board-preview {
  background-image: url(./assets/board-preview-hover.svg);
}

.view-radio-option .option {
  display: flex;
  gap: 12px;
  height: 24px;
  cursor: pointer;
}

.option label {
  font-size: 14px;
  font-weight: 400;
  color: #202020;
  cursor: pointer;
}

.option .checkbox-circle {
  border: 1px solid grey;
  color: grey;
  background-color: var(--color-p4-bg);
}

.view-radio-option.checked .checkbox-circle {
  animation: popUpDown 0.3s ease forwards;
}

.view-radio-option .checkbox-circle svg {
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  opacity: 0;
}

.list-preview:hover + .option svg,
.board-preview:hover + .option svg,
.option:hover svg {
  opacity: 1;
}

.view-radio-option.checked .checkbox-circle svg {
  opacity: 1;
  color: var(--color-white);
}

/* Task-modal */

.modal-overlay.add-task {
  margin-top: calc(50vh - 250px);
  align-items: center;
}

.task-modal {
  width: 550px;
  background-color: var(--color-white);
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.35);
  border-radius: var(--border-radius-lg);
  animation: fadeIn 0.3s ease-in-out forwards;
}

.task-modal.hidden {
  animation: fadeOut 0.2s ease-in-out forwards;
}

/* Task Modal Form */

.task-modal__form {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** Task Modal Form Editor **/

.task-modal__form .form-editor {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 16px;
}

.form-editor .form-field.task-name input,
.form-editor .form-field.task-description textarea {
  background-color: transparent;
  border: none;
  outline: none;
  word-break: break-word;
  word-wrap: break-word;
  color: var(--color-black);
  line-height: 1.65;
  width: 100%;
}

.form-editor .form-field.task-name input {
  font-size: 20px;
  font-weight: 600;
}

.form-editor .form-field.task-description textarea {
  font-size: 13px;
  font-weight: 400;
  resize: none;
}

.form-editor .form-field.task-name input::placeholder,
.form-editor .form-field.task-description::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

/* Task Modal Labels */

.task-labels {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 10px;
  height: 24px;
  padding: 0 16px;
}

.task-labels .task-label {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 4px;
  border-radius: var(--border-radius-sm);
  font-size: 12px;
  color: var(--color-black);
  background-color: rgba(128, 128, 128, 0.2);
  height: 24px;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.task-labels .task-label:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.task-labels .task-label .label-name {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

.task-labels .task-label .remove-label-btn {
  width: 16px;
  height: 16px;
  color: grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.task-labels .task-label .remove-label-btn:hover {
  color: var(--color-black);
  background-color: rgba(128, 128, 128, 0.7);
}

/** Task Modal Form Fields Wrapper **/

.task-modal__form .fields-wrapper {
  display: flex;
  gap: 8px;
  padding: 16px;
}

.fields-wrapper .form-field:not(.task-label) {
  background-color: var(--color-white);
  border: 1px solid #ddd;
  border-radius: var(--border-radius-sm);
  height: 28px;
  padding: 0 6px;
  display: flex;
  gap: 4px;
  align-items: center;
  transition: var(--transition);
}

.fields-wrapper .form-field:not(.task-label):hover {
  background-color: #eee;
}

.fields-wrapper .form-field.task-due-date button.due-date-btn,
.fields-wrapper .form-field.task-priority button.priority-btn {
  display: flex;
  gap: 4px;
  font-size: 13px;
}

.fields-wrapper .form-field.task-priority button.priority-btn {
  color: grey;
}

.form-field.task-priority button.remove-priority-btn,
.form-field.task-due-date button.remove-due-date-btn {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-sm);
  color: #666;
  z-index: 100;
  transition: var(--transition);
}

.form-field.task-priority button.remove-priority-btn.hidden,
.form-field.task-due-date button.remove-due-date-btn.hidden {
  display: none;
}

.form-field.task-priority button.remove-priority-btn:hover,
.form-field.task-due-date button.remove-due-date-btn:hover {
  color: var(--color-black);
  background-color: #d3d3d3;
}

.form-field.task-priority
  button.remove-priority-btn:hover
  svg
  .form-field.task-due-date
  button.remove-due-date-btn:hover
  svg {
  color: var(--color-black);
}

.form-field.task-due-date {
  position: relative;
}

input[type='date']#task-due-date {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}

input[type='date']#task-due-date::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.form-field.task-priority[data-priority='p1'] button svg {
  color: var(--color-p1);
}

.form-field.task-priority[data-priority='p2'] button svg {
  color: var(--color-p2);
}

.form-field.task-priority[data-priority='p3'] button svg {
  color: var(--color-p3);
}

.form-field.task-priority[data-priority='p4'] button svg {
  color: var(--color-p4);
}

.fields-wrapper .form-field.task-label {
  display: flex;
  gap: 3px;
  position: relative;
}

.fields-wrapper .form-field.task-label input {
  outline: none;
  font-size: 13px;
  color: var(--color-black);
  width: 150px;
  background-color: var(--color-white);
  border: 1px solid #ddd;
  border-radius: var(--border-radius-sm);
  height: 28px;
  padding: 0 6px;
  transition: var(--transition);
}

.fields-wrapper .form-field.task-label:hover input:not(:focus) {
  border-color: var(--icon-color-hover);
}

.fields-wrapper .form-field.task-label input:focus {
  box-shadow: 0 0 0 1px #1f60c2, 0 0 0 3px #dceaff;
}

.fields-wrapper .form-field.task-label input::placeholder {
  color: grey;
}

.fields-wrapper .form-field.task-label button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  position: absolute;
  right: 2px;
  top: 1.2px;
  padding: 5.8px;
  border-radius: 5px;
  transition: var(--transition);
}

.fields-wrapper .form-field.task-label button:hover {
  color: var(--icon-color-hover);
  background-color: #eee;
}

/* Task Modal Footer */

.task-modal .modal-footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 16px 16px 0 16px;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-item-border);
}

.modal-footer .form-field.task-project {
  background-color: transparent;
  padding: 8px 8px 8px 6px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition);
}
.modal-footer .form-field.task-project:hover {
  background-color: #eee;
}

.modal-footer .form-field.task-project button {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  color: #666;
  font-size: 14px;
}

.modal-footer .form-field.task-project:hover button {
  color: var(--color-black);
}

.modal-footer .form-field.task-project span {
  color: #666;
  font-size: 14px;
  font-weight: 600;
  max-width: 68px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.modal-footer .form-field.task-project:hover span {
  color: var(--color-black);
}

.modal-footer .action-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* Keyframes */

@keyframes popUpDown {
  0% {
    transform: scale(1);
  }
  55% {
    border: 2px solid grey;
    color: var(--color-white);
    background-color: grey;
    transform: scale(1.3);
  }
  100% {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-primary);
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
